{% extends 'base.html' %}
{% load static %}

{% block header %}
<div class="top-header">
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="main-logo" src="{% static 'img/abigail_flower.png' %}" alt="Abigail Flower Large Logo">
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row cta-img-block">
        <div class="col-md-5 img-block">
            <a href="#" class="nav-link">
                <img src="{% static 'img/ceramics_link.jpg' %}" alt="Image of ceramic cups" class="link-img">
                <h2 class="link-title">Ceramics</h2>
            </a>
        </div>
        <div class="col-md-5 img-block">
            <a href="#" class="nav-link">
                <img src="{% static 'img/artwork_link.jpg' %}" alt="Image of a Painting" class="link-img">
                <h2 class="link-title">Artwork</h2>
            </a>
        </div>
    </div>
    <div class="row insta-section">
        <div class="col">
            <div class="insta-imgs">

            </div>
        </div>
    </div>
</div>
{% endblock %}