{% extends 'base.html' %}
{% load static %}

{% block ex_title %} - Checkout{% endblock %}

{% block p_title %}<span>Checkout</span>{% endblock %}

{% block content %}
<div class="container content-block">
    <div class="row">
        <div class="col-sm-12 mt-4">
            <button class="btn checkout-btn bg-sky d-md-none w-100" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseBasket" aria-expanded="false" aria-controls="collapseExample">
                View Basket (£{{ grand_total| floatformat:2 }})
            </button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 col-sm-12 py-2 px-3 order-sm-2 order-md-1">
            <p class="text-muted">Please fill out the form to complete your order</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset>
                    <legend class="fieldset-label small text-black mt-3 px-2 w-auto">Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                </fieldset>
                <fieldset>
                    <legend class="fieldset-label small text-black mt-3 px-2 w-auto">Delivery Details</legend>
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.town_city | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    <div class="form-check form-check-inline float-right mr-0">
                        {% if user.is_authenticated %}
                        <label for="save-info" class="form-check-label"> Save delivery info to your account?</label>
                        <input type="checkbox" class="form-check-input ml-2 mr-0" id="save-info" name="save-info">
                        {% else %}
                        <label class="form-check-label" for="save-info">
                            <p class="text-info">
                                <a href="{% url 'account_signup' %}">Register</a> or
                                <a href="{% url 'account_login' %}">Login</a> account to save delivery info for next
                                time.
                            </p>
                        </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="fieldset-label small text-black mt-3 px-2 w-auto">Payment Details</legend>
                    <!-- Stripe Elements -->
                    <div class="mb-3" id="card-element"></div>
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <!-- Pass the client secret to the view -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
                <div class="row mt-4 mb-5">
                    <div class="col-12 d-flex justify-content-between">
                        <a href="{% url 'basket' %}" class="back-btn col-4 text-start">
                            <span class="small"><i class="fas fa-caret-square-left"></i> Edit Basket</span>
                        </a>
                        <input type="submit" class="btn btn-large bg-sky col-3 ms-5 checkout-btn" id="purchase-btn"
                            value="Purchase">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6 px-4 d-md-block order-sm-1 order-md-2 collapse" id="collapseBasket">
            <p class="text-muted">Order Summary - {{ product_count }}</p>
            <div class="row">
                <div class="col-7 offset-2">
                    <p class="text-muted small">Items</p>
                </div>
                <div class="col-3 text-end">
                    <p class="text-muted small">Subtotal</p>
                </div>
                <hr class="col-12">
            </div>
            {% for item in basket_items %}
            <div class="row">
                <div class="col-2">
                    <img src="{{ item.product.image.url }}" alt="Product image for {{ item.product.name }}"
                        class="img-fluid rounded">
                </div>
                <div class="col-7">
                    <h5><strong>{{ item.product.name }}</strong></h5>
                    <p>{{ item.product.sku }}</p>
                    <p>Qty: {{ item.quantity }}</p>
                </div>
                <div class="col-3">
                    <p class="text-end">£{{ item.product.price }}</p>
                </div>
                <hr class="col-12 checkout-hr">
            </div>
            {% endfor %}
            <div class="row mt-2">
                <div class="col-12">
                    <div class="text-end">
                        <h6>Basket Total: £{{ total|floatformat:2 }}</h6>
                        <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                        <h5><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
    </h1>
</div>
{% endblock %}
{% block js %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key"}}
{{ client_secret|json_script:"id_client_secret"}}
<script src="{% static 'checkout/js/stripe_elements.js' %}" type="text/javascript"></script>
{% endblock %}