{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="product-title">&#10049; Shopping Basket &#10049;</h2>
        </div>
        <hr class="col-12 pro-hr">
        <div class="col-12 ">
            {% if basket_items %}
            <div class="table-responsive rounded">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in basket_items %}
                        <tr>
                            <td class="p-3 w-25">
                                <img src="{{ item.product.image.url }}" alt="Product image for {{ item.product.name }}"
                                    class="img-fluid rounded">
                            </td>
                            <td class="p-3">
                                <p><strong>{{ item.product.name }}</strong></p>
                            </td>
                            <td class="p-3">
                                <p>{{ item.product.price }}</p>
                            </td>
                            <td class="p-3">
                                <p>{{ item.quantity }}</p>
                            </td>
                            <td class="p-3">
                                <p>{{ item.product.price }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
            {% else %}
            <div class="text-sky empty-bask">
                <p class="basket-tag">Your Basket is empty!</p>
                <a href="" class="back-btn">
                    <span><i class="fas fa-caret-square-left"></i> Back to Browsing</span>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}