{% extends 'base.html' %}
{% load static %}
{% load basket_tools %}

<!-- Tab Title -->
{% block ex_title %} - Basket{% endblock %}

<!-- Page Title -->
{% block p_title %}<span>Shopping Basket</span>{% endblock %}

<!-- Page Content -->
{% block content %}
<div class="container content-block">
    <!-- Basket Items Table -->
    <div class="row">
        <div class="col-lg-10 col-sm-12 mt-5 m-auto">
            {% if basket_items %}
            <div class="table-responsive rounded">
                <table class="table table-striped">
                    <thead>
                        <tr class="text-sky">
                            <th scope="col" class="table-h">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col" class="table-h">Price</th>
                            <th scope="col" class="table-h">Qty</th>
                            <th scope="col" class="table-h">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Individual Items -->
                        {% for item in basket_items %}
                        <tr>
                            <td class="p-3 w-25">
                                <img src="{{ item.product.image.url }}" alt="Product image for {{ item.product.name }}"
                                    class="img-fluid rounded">
                            </td>
                            <td class="p-3">
                                <h5><strong>{{ item.product.name }}</strong></h5>
                            </td>
                            <td class="p-3">
                                <p>£{{ item.product.price }}</p>
                            </td>
                            <td class="p-3">
                                <p>{{ item.quantity }}</p>
                            </td>
                            <td class="p-3">
                                <p>£{{ item.product.price | subtotal_calc:item.quantity }}</p>
                                <div class="text-end">
                                    <a href="{% url 'remove_item' item.product.id %}" class="text-danger">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="text-end">
                                <h6>Basket Total: £{{ total|floatformat:2 }}</h6>
                                <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                                <h5><strong>Grand Total: £{{ grand_total|floatformat:2}}</strong></h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- Buttons -->
                <div class="col-12 mt-5 mb-5">
                    <div class="mt-5 text-end">
                        <a href="{% url 'checkout' %}" class="btn btn-large bg-sky col-5 ms-5 checkout-btn">
                            <span>Secure Checkout</span>
                        </a>
                    </div>
                    <a href="{% url 'products' %}" class="back-btn text-start">
                        <span><i class="fas fa-caret-square-left"></i> Back to Browsing</span>
                    </a>
                </div>
            </div>
            {% else %}
            <!-- If basket is empty -->
            <div class="text-sky empty-bask">
                <p class="basket-tag">Your Basket is empty!</p>
                <a href="{% url 'products' %}" class="back-btn">
                    <span><i class="fas fa-caret-square-left"></i> Back to Browsing</span>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}