@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Rokkitt:wght@100;400;700&display=swap');

body {
    background-color: azure;
    font-family: 'Rokkitt', serif;
}

.top-header {
    background: url(../img/bg_img_top.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 50vh;
    margin-top: 94px;
}

.main-logo {
    width: 100%;
    margin-top: 140px;
}

.bg-sky {
    background-color: rgba(103, 185, 233, 0.932);
}

.text-sky {
    color: rgba(103, 185, 233, 0.932);
}

.text-bold {
    font-weight: 700;
    font-size: 1.3rem;
}

.text-small {
    font-weight: 400;
    font-size: 1rem;
}

.nav-link {
    font-weight: 600;
    color: azure;
    font-size: 1.1rem;
}

.nav-link:hover {
    color: rgb(230, 230, 202);
}

.navbar-toggler-icon {
    color: azure;
}

.shop-bask a {
    text-align: center;
    padding: 0;
    margin-top: 10px;
}

.page-title {
    text-align: center;
    margin-top: 150px;
    font-size: 3rem;
    font-family: 'Bevan', cursive;
    color: rgba(103, 185, 233, 0.932);
}

.footer-link {
    font-size: 0.8rem;
    margin-top: 0;
}

.cta-img-block {
    margin: 50px auto;
    height: 50vh;
}

.img-block {
    margin: auto;
}

.link-img {
    height: 100%;
    max-height: 370px;
    width: 100%;
    border-radius: 10px;
    z-index: 0;
}

.link-title {
    color: azure;
    font-size: 2.5rem;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.384);
    text-align: center;
    z-index: 1;
    position: relative;
    bottom: 200px;
    background-color: rgba(0, 0, 0, 0.247);

}

.insta-section {
    height: 50vh;
}

.about-section {
    margin-top: 15%;
    height: 70vh;
    text-align: center;
}

.port-img {
    height: 500px;
    border-radius: 10px;
}

.p-block {
    text-align: left;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 35px 0;
}

.p-block-title {
    font-size: 2.3rem;
    font-family: 'Bevan', cursive;
}

.af-sign-off {
    font-size: 1.8rem;
    font-family: 'Bevan', cursive;
}

.social-links a {
    color: rgba(103, 185, 233, 0.932);
    font-size: 1.6rem;
    margin-right: 10px;
}

.social-links a:hover {
    color: rgb(68, 150, 197);
    font-size: 1.8rem;
}

.product-section {
    margin: 70px 0;
}

.product-block {
    padding-left: 130px;
}

.card {
    text-align: center;
    background: none;
    border: none;
}

.card a {
    text-decoration: none;
}

.card a:hover {
    color: rgb(68, 150, 197);
}

.card-title {
    font-size: 1.8rem;
}

.card-text {
    font-size: 1.4rem;
}

.card-img {
    height: 300px;
    width: auto;
}

hr {
    color: rgb(212, 184, 148);
}

.pro-hr {
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

.collec-hr {
    width: 80%;
}

.collec-sec {
    border-right: 1px solid rgba(212, 184, 148, 0.603);
    height: 100vh;
    position: fixed;
    width: 175px;
}

.collection-title {
    font-size: 1.4rem;
    font-family: 'Bevan', cursive;
}

.collection-list {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin-top: 40px;
}

.collection-list li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.collection-list li a:hover {
    font-size: 1.4rem;
    color: rgb(68, 150, 197);
}

.product-info {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.prod-img {
    height: 500px;
    border-radius: 10px;
    margin-right: 100px;
}

.product-text {
    margin-left: 50px;
    margin-top: 50px;
}

.prod-name {
    font-size: 2rem;
    font-weight: 900;
}

.prod-price {
    font-weight: 700;
}

.prod-desc {
    margin: 25px 0;
    font-size: 1.2rem;
}

.shop-btn {
    width: 100%;
    color: azure;
    margin: 50px 0;
    font-size: 1.4rem;
}

.shop-btn:hover {
    color: rgb(230, 230, 202);
    background-color: rgb(68, 150, 197);
    ;
}

.back-btn {
    text-decoration: none;
    color: rgba(103, 185, 233, 0.932);
    font-size: 1.8rem;
    border: 1px solid rgba(103, 185, 233, 0.932);
    padding: 0 5px;
    border-radius: 5px;
    width: auto;
}

.back-btn i {
    font-size: 1.6rem;
}

.back-btn:hover {
    color: azure;
    background-color: rgba(103, 185, 233, 0.932);
}

.empty-bask {
    margin: 50px 0;
}

.basket-tag {
    font-size: 2rem;
    margin-bottom: 25%;
}

.table-h {
    font-size: 1.3rem;
}

.checkout-btn {
    color: azure;
    font-weight: 700;
    font-size: 1.4rem;
}

.checkout-btn:hover {
    background-color: azure;
    color: rgb(68, 150, 197);
    border: 1px solid rgba(103, 185, 233, 0.932);
}

.message {
    position: fixed;
    top: 100px;
    right: 12px;
    z-index: 5;
}

.toast-capper {
    height: 4px;
}

.checkout-hr {
    width: 60%;
    margin: auto;
}

.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder,
.textInput::placeholder {
    color: #aab7c4;
}

select,
select option,
#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000000;
}

select:invalid,
select option[value=''],
#id_default_country option:first-child {
    color: #aab7c4 !important;
}

.order-title {
    font-weight: 700;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(68, 150, 197, 0.726);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}