{% extends "base.html" %}
{% load i18n %}

{% block ex_title %} - {% trans "Account Inactive" %}{% endblock %}
{% block header %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="product-title">&#10049; {% trans "Account Inactive" %} &#10049;</h2>
        </div>
        <hr class="col-12 pro-hr">
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 p-block text-sky">
            <h3>{% trans "This account is inactive." %}</h3>
            <p>Please contact for assitance</p>
        </div>
    </div>
</div>
{% endblock %}