{% extends 'base.html' %}
{% load static %}

{% block ex_title %} - Product Management{% endblock %}

{% block p_title %}<span>Product Management</span>{% endblock %}

{% block content %}
<div class="container content-block">
    <div class="row">
        <div class="col-12 p-block text-sky mb-1 text-center">
            <h3 class="text-muted">Edit a Product</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-6 p-block text-sky mt-1 m-auto">
            <form action="{% url 'edit_product' product.id %}" method="POST" class="form mb-3 text-bold"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="col-12 d-flex justify-content-between">
                    <a href="{% url 'products' %}" class="back-btn col-4 text-start">
                        <span class="small"><i class="fas fa-caret-square-left"></i> Cancel</span>
                    </a>
                    <input type="submit" class="btn btn-large bg-sky col-3 ms-5 checkout-btn" id="edit-prod-btn"
                        value="Update Product">
                </div>
            </form>
            <a href="{% url 'delete_product' product.id %}" class="small text-danger no-under mb-5">Delete</a>
        </div>
    </div>
</div>
{% endblock %}