{% extends 'base.html' %}
{% load static %}
{% block ex_title %}
- Products
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="product-title">&#10049; Products &#10049;</h2>
        </div>
        <hr class="col-12 pro-hr">
    </div>
    <div class="product-section">
        <div class="row">
            <div class="col-2 collec-sec">
                <h4 class="collection-title">Collections</h4>
                <hr class="collec-hr">
                <ul class="collection-list">
                    <li class="nav-item">
                        <a href="{% url 'products' %}?category=dishes" class="text-sky">Dishes</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'products' %}?category=cups" class="text-sky">Cups</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'products' %}?category=ashtrays" class="text-sky">Ashtrays</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'products' %}?category=prints" class="text-sky">Prints</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'products' %}?category=originals" class="text-sky">Originals</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 product-block">
                <div class="row">
                    {% for product in products %}
                    <div class="col-lg-3 col-md-4 col-sm-12 ms-5">
                        <div class="card">
                            <a href="{% url 'product_info' product.id %}" class="text-sky">
                                <img src="{{ product.image.url }}" class="card-img-top card-img"
                                    alt="{{ product.name }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <h6 class="card-text">£ {{ product.price }}</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}