{% extends 'base.html' %}
{% load static %}

{% block ex_title %}
- Product/{{ product.name }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="product-title">&#10049; {{ product.name }} &#10049;</h2>
        </div>
        <hr class="col-12 pro-hr">
    </div>
    <div class="row">
        <div class="col-12">
            <div class="product-info">
                <a href="{{ product.image.url }}" target="_blank">
                    <img src="{{ product.image.url }}" alt="Image of {{ product.name }}" class="prod-img">
                </a>
                <div class="text-sky product-text">
                    <h3 class="prod-name">{{ product.name }}</h3>
                    <h4 class="prod-price">£ {{ product.price }}</h4>
                    <p class="prod-desc">{{ product.description }}</p>

                    <div class="add-item">
                        {% if product.stock >= 1 %}
                        <form class="form" action="" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12">
                                    <label for="quantity">Quantity:</label>
                                    <input type="number" name="quantity" value="1" min="1" max="{{ product.stock }}">
                                </div>
                                <div class="col-12">
                                    <input type="submit" class="btn btn-large shop-btn bg-sky" value="Add To Basket">
                                    <a href="" class="back-btn">
                                        <span><i class="fas fa-caret-square-left"></i> Back to Browsing</span>
                                    </a>
                                </div>
                            </div>
                        </form>
                        {% else %}
                        <div class="sold-out">
                            <h2>Sold Out!</h2>
                            <a href="" class="back-btn">
                                <span><i class="fas fa-caret-square-left"></i> Back to Browsing</span>
                            </a>
                        </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}